body{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    line-height: 1.5;
}
#root {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px 30px 1fr 30px;
    align-items: center;
    justify-items: center;
    grid-template-areas: 
    "header header"
    "nav nav"
    "aside main"
    "footer footer";
}
header {
    grid-area: header;
}
nav {
    grid-area: nav;
}
aside {
    grid-area: aside;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
}

article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Button Component */

button {
    cursor: pointer;
    border: none;
    height: 25px;
}

.primary {
    background-color: #007bff;
    font-size: 10px;
    color: white;
    
}
.secondary {
    background-color: #6c757d;
    font-size: 10px;
    color: white;
}

.mainTitle {
    text-align: center;
}